.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: all 200ms ease-out;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: all 200ms ease-in;
}